
.header__container{
    background:url(../img/bg-header.jpg) top center/ cover no-repeat;
    padding-top: 17px;
    padding-bottom: 130px;
    margin-top: 42px;
}
.header__top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo{
    display: block;
    width: auto;
    height: auto;
    max-width: none;
    margin-right: 36px;
}
.header__img{
    display: block;
}
.header__title{
    margin-top: 42px;
    font-size: 42px;
    line-height: 40px;
    text-align: center;
    padding-left: 80px;
    padding-right: 60px;
    margin-bottom: 32px;
    color: #000000;
}
.header__bottom{
    padding-left: 154px;
    padding-right: 156px;
}
.header__subtitle{
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #2E2E2E;
    margin-bottom: 8px;
}
.header__input{
    padding: 11px 20px 7px 20px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2E2E2E;
    border: 1px dashed #000000;
    width: 100%;
    margin-bottom: 37px;
}
.header__button{
    background-color: #2ABE80;
    border-radius: 50px;
    padding: 19px 46px 18px 46px;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 21px;
}
